@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;

  --background-end-rgb: 154, 224, 178;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 154, 224, 178;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-start-rgb)) 40%, /* Adjust this percentage as needed */
      rgb(var(--background-end-rgb)) 100%
    )
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
